* {
    margin: 0;
    padding: 0;
    font-family: "Courier New", Consolas, monospace;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
}

.video-canvas {
    flex-grow: 1;
    text-align: center;
    position: relative;
}

.video-canvas .video-area {
    height: 100%;
    width:fit-content;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
}

.video-canvas video {
    z-index: 2;
    height: 100%;
    vertical-align: bottom;
    --times: var(--time);
}

.video-canvas svg {
    z-index: 3;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(0, 0, 0, 0);
}

video:not([running]) + svg path {
    animation-play-state: paused;
}

path:not([running]) {
    opacity: 0;
}

video:not([running]) + svg path[writing] {
    opacity: 1 !important;
}

path[running] {
    opacity: 0;

    stroke-dasharray: var(--stroke-dasharray);
    stroke-dashoffset: 0;

    animation-name: anim;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

path[writing] {
    animation-name: anim2;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes anim {
    0% {
        opacity: 0;
        stroke-dashoffset: var(--stroke-dasharray);
    }
    1% {
        opacity: 1;
    }
    10% {
        stroke-dashoffset: 0;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes anim2 {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#control {
    display: flex;
    flex-direction: row;
}

input[type="range"] {
    outline: none;
    flex-grow: 1;
}

#current_time {
    color: white;
    vertical-align: middle;
    margin-top: 2px;
}

.option-vertical {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgba(28,28,28,.9);
    border-radius: 5px;
    width: 300px;
    max-height: 300px;
    overflow-y: scroll;
    right: 10px;
    bottom: 5px;
}

.option-vertical::-webkit-scrollbar {
    background: inherit;
    width: 5px;
    border-radius: 20px;
}

.option-vertical::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
}

.option-vertical:not([show]) {
    display: none;
}

.option-vertical .option-item {
    display: flex;
    color: white;
}

.option-vertical .option-item i {
    margin: auto 0 auto auto;
}

.option-horizontal {
    position: absolute;
    display: flex;
    flex-direction: row;
    background-color: rgba(28,28,28,.9);
    justify-content: flex-end;
    border-radius: 5px;
    right: 10px;
    bottom: 5px;
}

.option-horizontal:not([show]) {
    display: none;
}

.pen-color-item {
    display: flex;
    width: 23px;
    justify-content: center;
    height: 23px;
    align-items: center;
    margin: 3px 1px 3px 1px;
}

.pen-color-item i {
    pointer-events: none;
}

.pen-color-item > input[type="color"] {
    border: 0;
    width: 0;
    height: 0;
    background-color: rgba(0,0,0,0);
}

.pen-color-item:first-child {
    margin-left: 2px;
}

.pen-color-item:last-child {
    margin-right: 2px;
}

#monirotring_folder {
    flex-grow: 1;
}

input[type="checkbox"].toggle {
    display: none;
}

input[type="checkbox"].dummy {
    display: none;
}

input[type="checkbox"].show {
    display: none;
}

input[type="checkbox"]:disabled.toggle ~ i {
    color: gray;
}

input[type="checkbox"]:checked.toggle ~ .off {
    display: none;
}

input[type="checkbox"]:not(:checked).toggle ~ .on {
    display: none;
}

.control-icon {
    display: flex;
    width: 24px;
    justify-content: center;
    height: 24px;
    align-items: center;
}

.control-icon:last-child {
    margin-left: auto;
    order: 999;
}

.control-icon i {
    color: white;
}

.control-icon:has(> .show:not(:checked)) {
    display: none;
}

input[type=range].volume {
    transform: rotate(-0.25turn);
    width: 80px;
    position: absolute;
    margin-bottom: 100px;
}

.seek_bar {
    display: flex;
    justify-content: center;
    height: 24px;
    align-items: center;
    color: white;
    flex-grow: 1;
}

.seek_bar:has(> .show:not(:checked)) {
    display: none;
}

.time-area {
    display: flex;
    justify-content: center;
    height: 24px;
    align-items: center;
    color: white;
    margin-left: 1px;
}

.time-area:has(> .show:not(:checked)) {
    display: none;
}

.volume-area:not(:hover) .volume {
    display: none
}

.pen-color {
    z-index: 1;
}

#window_width {
    width: 3em;
}

#window_height {
    width: 3em;
}

#rewind_forward_seconds {
    width: 2em;
}

#volume_range_step {
    width: 2em;
}

.flex-adjuster {
    flex-grow: 1;
}

#slow_ratio {
    width: 2em;
}

#fast_ratio {
    width: 2em;
}

.order {
    line-height: 0px;
}

.order i {
    line-height: 10px;
}

.config-number {
    text-align: right;
}

button i {
    pointer-events: none;
}

.pen-shadow {
    text-shadow: 0 0 0px #000,0 0 2px #fff,0 0 2px #fff,0 0 2px #fff;
}

[data-can-update="false"] ~ i {
    color: gray;
}
